/* Fondo general del sitio */
body {
    background-color: black;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

/* Estilos del navbar */
.navbar {
    background-color: #000 !important;
    border-bottom: 1px solid #ff00aa;
    box-shadow: 0 0 10px #ff00aa;
}

/* Nombre del navbar */
.navbar-brand {
    color:#ff00aa !important;
    font-weight: bold;
    text-shadow: 0 0 8px #ff00aa;
}

/*Enlaces*/
.nav-link {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ff00aa;
    text-shadow: 0 0 8px #ff00aa;
    transform: scale(1.05)
}

/* Titulos y párrafos con efecto neón */
h1, h2, p {
    text-shadow: 0 0 10px #ff00aa;
}

/* Botón Neón */
.btn-outline-light {
  border-color: #ff00aa;
  color: #ff00aa;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background-color: #ff00aa;
  color: #000;
}

/* Estilos del Hero */

.parallax {
    background-color: black;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content {
    text-align: center;
    color: white;
}

/* Foto redonda con brillo */
.foto-perfil img {
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: 3px solid #ff00aa;
    box-shadow: 0 0 15px #ff00aa;
    transition: transform 0.3s ease;
}

.foto-perfil img:hover {
    transform: scale(1.05);
}

.shadow-glow {
    box-shadow: 0 0 20px #ff00aa;
}

.content h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 8px #ff00aa;
}

.content p {
    font-size: 1.5rem;
    text-shadow: 0 0 8px #ff00aa;
}

/*Seción sobre mi*/
.sobre-mi {
    background-color: #000;
    border: 1px solid #ff00aa;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #ff00aa;
    transition: transform 0.3s ease;
}   

/* Tarjetas proyectos */
.proyectos-neon {
    color: white
}

.tarjeta-proyecto {
    background-color: #000;
    border: 1px solid #ff00aa;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #ff00aa;
    transition: transform 0.3s ease;
    min-height: 520px;
}

.tarjeta-proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff00aa;
}

.tarjeta-proyecto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.tarjeta-proyecto h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 8px #ff00aa;
}

.tarjeta-proyecto p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tags span {
  background-color: #ff00aa;
  color: black;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 0 5px #ff00aa;
}

/* Estilos tarjeta habilidades */

.tarjeta-habilidad {
    background-color: #000;
    border: 1px solid #ff00aa;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #ff00aa;
    transition: transform 0.3s ease;
}

.barra-progreso {
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

.progreso {
    height: 100%;
    background-color: #ff00aa;
    transition: width 0.3s ease;
}

.tarjeta-habilidad:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff00aa;
}

.icono {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    color: #e8d4e1;
    text-shadow: 0 0 8px #ff00aa;
    text-align: center;
}

.icono-contacto {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #e8d4e1;
    text-shadow: 0 0 8px #ff00aa;
    text-align: center;
}

.section{
    margin-top: 80px;
    margin-bottom: 80px;
}

.contacto h3 {
    font-size: 0.5rem;
    text-shadow: 0 0 8px #ff00aa;
}